# Vault database persistence
data/

# Generated Vault keys and tokens
vault-keys.txt

# Generated CSRs and Certificates
*.csr
*.pem
*.cert.pem
*.crt
*.key
agent/token
agent/roleid
agent/secretid
dashboard/certs/

# Node dependencies
node_modules/
package-lock.json

# OS files
.DS_Store
